<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.mapper.ActivitiesMapper">
    <insert id="addActivities">
        insert into
        activities(name, category, target, date, link, poster, benefits, host)
        VALUES(#{name}, #{category}, #{target}, #{date}, #{link}, #{poster}, #{benefits}, #{host} )
    </insert>

    <select id="getActivities" resultType="ActivitiesDto_DB">
        select * from activities
    </select>

    <delete id="deleteActivities">
        delete from activities where num=${number}
    </delete>

    <update id="updateActivities">
        update activities
        set name=#{name}, category=#{category}, target=#{target}, date=#{date},
        link=#{link}, poster=#{poster}, benefits=#{benefits}, host=#{host}
        where num = #{num}
    </update>

</mapper>
